body {
    background-color: #0f0f0f;
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.navbar-nav {
    width: 400px !important;
    align-items: center;
}

.navbar-nav a {
    color: white;
}

#logo {
    width: 20%;
    object-fit: cover;
}

.celular {
    width: 60%;
}

.sec-one {
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(/imagens/back.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.logo-1 {
    width: 30%;
}

.sec-one .txt-orcamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-one .container {
    display: flex;
    align-items: left;
    justify-content: center;
}

.sec-one h1 {
    color: white;
    font-size: 2rem;
}

.sec-one p {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}

.sec-two {
    margin-top: 20px;
    margin-bottom: 70px;
}

.sec-two .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 40px;
}

.sec-two p {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(243, 243, 243);
}

verde {
    color: #008000;
}

.sec-two .linha {
    margin-bottom: 30px;
    width: 50%;
    height: 1px;
    background-color: green;
}

.frase {
    background: rgb(15, 15, 15);
    background: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(0, 128, 0, 1) 50%, rgba(15, 15, 15, 1) 100%);
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: rgba(168, 168, 168, 0.2) 0px 2px 8px 0px;
}

.frase a {
    color: white;
}

.frase p {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.vantagens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vantagens p {
    color: rgb(243, 243, 243);
    font-size: 1.2rem;
    font-weight: 300;
}

.vantagens h1 {
    font-size: 2rem;
    color: green;
}

.vantagens .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(103, 103, 103, 0.2) 0px 7px 29px 0px;
}

.box-vantagens {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.box-vantagens img {
    width: 30px;
}

.pq {
    margin-top: 50px;
}

.pq .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pq .box-pq {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding-top: 50px;
}

.pq p {
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(243, 243, 243);
    padding: 20px;
}

.pq .box-pq-2 {
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 50px;
    text-align: justify;
    flex-direction: row-reverse;
}

.pq .box-pq img {
    width: 55%;
    padding: 5px;
    border-radius: 10px;
}

.pq .box-pq-2 img {
    width: 55%;
    padding: 5px;
    border-radius: 10px;
}

.final {
    display: flex;
    align-items: center;
    height: 600px;
    margin-top: 100px;
}

.final p {
    color: rgb(243, 243, 243);
    font-size: 1.2rem;
    font-weight: 200;
    text-align: justify;
    width: 90%;
}

.final h1 {
    color: rgb(243, 243, 243);
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.final .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.final .container img {
    width: 40%;
    height: 500px;
    border-radius: 10px;
}

@media screen and (max-width: 440px) {
    .navbar-nav {
        margin-left: 1px !important;
        width: 100% !important;
        align-items: center;
        margin-top: 5px;
    }

    #logo {
        width: 29%;
        object-fit: cover;
    }

    header nav.navbar {
        background-color: #ffffff !important;
        height: 100px;
        z-index: 1000;
    }

    .sec-one h1,
    .sec-one p {
        text-align: center;
    }

    .sec-two p {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .vantagens .container {
        flex-direction: column;
    }

    .box-vantagens {
        width: 100%;
    }

    .box-vantagens img {
        width: 30px;
    }


    .pq .box-pq {
        padding-top: 20px;
        flex-direction: column;
    }

    .pq p {
        font-size: 1.1rem;
    }

    .pq .box-pq-2 {
        margin-top: 20px;
        flex-direction: column;
    }

    .pq .box-pq img {
        width: 100%;
    }

    .pq .box-pq-2 img {
        width: 100%;
    }

    .final {
        height: auto;
    }

    .final p {
        font-size: 1.1rem;
        width: 100%;

    }

    .final h1 {
        margin-bottom: 20px;
        font-size: 1.4rem;
        text-align: center;
        margin-top: 30px;
    }

    .final .container {
        flex-direction: column;
    }

    .final .container img {
        width: 100%;
        margin-bottom: 30px;
    }

}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-23 18:52:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}